##################################################
# psxc-nupack.conf                               #
##################                               #
# Small config with all options. This file will  #
# override the options in psxc-unpack.sh and     #
# psxc-unpack_all.sh, making upgrades easier -   #
# you just need to edit this file and ignore the #
# settings in the other files.                   #
##################################################

##################################################
# psxc-unpack.sh and psxc-unpack_all.sh settings #
# The following vars are used by both scripts    #
##################################################

# where our logfile is located - path is within chroot so don't
# put /glftpd in front of this.
LOGFILE=/tmp/psxc-unpack.log

# put here a word to use to make the script unpack immediatly - only
# handy if you add this script as a site command. Not case sensitive.
# The site command will then be 'site unpack now' to extract immediatly.
MAGICWORD="now"


##################################################
# psxc-unpack.sh specific settings               #
##################################################

# glftpd's site dir
SITEDIR=/site

# glftpd's logfile (within chroot) - used for announces.
GLLOG=/ftp-data/logs/glftpd.log

# in what dirs should this script be executed?
DIRS="/site/XVID /site/DVDR"

# The following variable allows you to list dirs that are excluded from
# the DIRS list - if the dir match this, it will be skipped.
IGNOREDIRS="_subs$ /site/XVID/SUBS"

# the unrar command. remove the 'echo' in front to activate
# also check the man page for unrar.
UNRAR="echo nice -n 20 unrar e -p- -c- -cfg- -o- --"

# rm/delete command. remove the 'echo' in front to activate
RM="echo rm"

# rmdir command - used to delete empty subdirs. remove the 'echo' in front
# to activate. WARNING! Be careful!
RMDIR="echo rm -fR"

# rar filetypes. should be fine as is.
FILETYPES="\.[Rr][Aa][Rr]$ \.001$"

# subdirs. should be fine as is.
SUBDIRS="^[Cc][Dd][0-9a-zA-Z]$ ^[Dd][Vv][Dd][0-9a-zA-Z]$ ^[Ss][Uu][Bb][Ss]*$"

# how your completedirs look like. (This is regexp style, so keep the .*)
COMPLETEDIR=".*\[.*\].*[-].[Cc][Oo][Mm][Pp][Ll][Ee][Tt][Ee].*\[.*\].*"

# this variable holds a list of files/dirs to remove if extraction was complete.
# (not regexp style, so slightly different.) separate with a space.
# default setting removes the complete bar, sample dir, sfv-files and dot-files (like .message)
RMFILES="*\[*\]*[Cc][Oo][Mm][Pp][Ll][Ee][Tt][Ee]*\[*\]* [Ss][Aa][Mm][Pp][Ll][Ee] \.[a-zA-Z0-9]* *.[Ss][Ff][Vv]"

# set this to '1' to make the script run immediatly after release is complete
RUN_NOW=0

# If you wish to remove write-rights of the dirs after extraction, set this
# variable to 1.
CHMOD_DIRS=1

# The script supports unpacking of zipfiles as well. If the following variable
# is set, the script will try to unpack zipfiles as well. To disable it, set
# it to "".
ZIPUNPACK="YES"

# the unzip command. remove the 'echo' in front to activate.
# IMPORTANT! Do not add switches behind unzip!"
UNZIP="echo nice -n 20 unzip"

# Touch a file if extraction of the archive fails? Set to "" to disable.
# The file will be placed in the 'main' dir - ie, not in the subdir.
# Forbidden chars include / & \ $ [:space:] (they will be replaced with _)
# The first ''%%'' encountered will be replaced with the name of the archive.
UNPACKERROR="  PSXC-UNPACK - FAILED TO UNPACK ARCHIVE (%%)  "

# a logfile which list all successfully unpacked dirs.
COMPLETELOG=/tmp/psxc-unpack-complete.log

# the default logformat (below in bsd format) gives the date
# an hour into the future.
LOGDATEFORMAT="-v+1H +%s"

# Script to execute after sucessful unpack - use "" to disable.
# One script only.
COMPLETESCRIPT="/bin/psxc-trailer.sh"

##################################################
# psxc-unpack_all.sh specific settings           #
##################################################

# your *Complete* dir/file looks like... (not regexp style)
COMPLETE_DIR="*\[*\]*[-][ ][Cc][Oo][Mm][Pp][Ll][Ee][Tt][Ee]*\[*\]*"

# nuked dir style
NUKED_DIRS="\[NUKED\]*"

# what dirs to search - IMPORTANT!!!
SEARCH_DIRS="/site/XVID /site/DVDR"

# path to psxc-unpack.sh
UNPACK=/bin/psxc-unpack.sh

# run psxc-unpack after scan is complete? (1=yes, 0=no)
RUNNOW=1

